<p>Olá <%= @user.name %>!</p>
<p>Recebemos um pedido de renovação de senha</p>
<p><a href="">Clique aqui</a> para trocar sua senha</p>
<p>Caso não tenha sido você, fique tranquilo e apenas ignore este email</p>